<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001190607290-ds07t0obvp2kg4asf7cvf3881an5997o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001190607290-ds07t0obvp2kg4asf7cvf3881an5997o</string>
	<key>API_KEY</key>
	<string>AIzaSyBtc_dDwv9uUn9o3a3Gh5zxNjypjHUBHpg</string>
	<key>GCM_SENDER_ID</key>
	<string>1001190607290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rohit.Peepalike</string>
	<key>PROJECT_ID</key>
	<string>peepalike</string>
	<key>STORAGE_BUCKET</key>
	<string>peepalike.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001190607290:ios:38e9128b6c1ffc2e8f7583</string>
</dict>
</plist>
